* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}
/* nav bar  */
.nav {
  top: 0;
}
.gdsc {
  position: absolute;
  right: 20px;
}
.cloud {
  position: absolute;
  left: 20px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.nav {
  box-sizing: border-box;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: rgb(245 168 168);
  color: #aaa6a6;
  height: 10px;
  width: 100vw;
  text-shadow: 3px 3px #aaa6a6;
}
.nav .logo img {
  height: 50px;
}


/* body content */
main {
  width: 98vw;
  min-height: 80vh;
  top: 90px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  /* background-color: rgb(94, 83, 83); */
}

/* top-three peeps  */
.top-three {
  display: flex;
  gap: 50px;
  background-color: #fff;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 250px;
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card .avatar {
  min-height: 100px;
  min-width: 100px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 47px;
}
.card #pos-3{
  background: no-repeat center/100% url("../images/avatar/hacker\ \(1\).png");
}
.card #pos-1{
  background: no-repeat center/100% url("../images/avatar/hacker.png");
}
.card #pos-2{
  background: no-repeat center/100% url("../images/avatar/worker.png");
}
.tropy img {
  height: 100px;
  position: absolute;
  left: -43px;
  top: -20px;
}
.card .name {
  font-size: 20px;
  position: absolute;
  top: 170px;
}
.card .badges {
  position: absolute;
  top: 200px;
}
/* leaderboard  */
.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 8px;
  padding: 20px;
  /* background-color: rgb(136, 33, 33); */
}

.plaque {
  min-width: 1000px;
  min-height: 60px;
  max-width: 1000px;
  max-height: 60px;
  background-color: rgb(77, 37, 37);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 5fr 3fr;
  gap: 20px;
  padding: 10px;
  font-weight: bolder;
}
.plaque:nth-child(4n + 1) {
  background: #db45377c;
}

.plaque:nth-child(4n + 2) {
  background: #4286f47e;
}
.plaque:nth-child(4n + 3) {
  background: #0f9d5875;
}
.plaque:nth-child(4n + 4) {
  background: #f4b3008c;
}
.plaque-items {
  justify-content: center;
}

/* media queries */
@media screen and (max-width: 1100px) {
  main h1{
    font-size: 3px;
  }
  main{
    font-size: 10px;
  }
  .plaque {
    min-width: 800px;
    max-width: 800px;
  }

  .card {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
  }
  .card .avatar {
    min-height: 90px;
    min-width: 90px;
    top: 40px;
  }
  .card .name {
    top: 145px;
  }
  .card .badges {
    top: 170px;
  }
  .tropy img {
    height: 80px;
    left: -34px;
  }
}
@media screen and (max-width: 992px) {
  .nav .logo img {
    height: 30px;
}
  .plaque {
    min-width: 500px;
    max-width: 500px;
  }
  .card {
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
  }
  .card .avatar {
    min-height: 90px;
    min-width: 90px;
    top: 10px;
  }
  .card .name {
    top: 100px;
    font-size: 15px;
  }
  .card .badges {
    top: 120px;
  }
  .tropy img {
    height: 60px;
    left: -26px;
  }
}
@media screen and (max-width: 580px) {
  .title{
    font-size: 20px;
  }
  .top-three {
    gap: 23px;
  }
  .plaque {
    min-width: 350px;
    max-width: 350px;
  }
  .card {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
  }
  .tropy img {
    height: 47px;
    /* height: 60px; */
    left: -18px;
    top: -14px;
  }
  .card .avatar {
    min-height: 45px;
    min-width: 45px;
    top: 10px;
  }
  .card .name {
    top: 70px;
    font-size: 12px;
  }
  .card .badges {
    top: 85px;
  }
  .bottom-right-curve-30{
    border-bottom-right-radius: 15px !important;
  }
   .top-left-curve-30{
     border-top-left-radius: 15px !important;
   }
}
@media screen and (max-width: 380px) {
  .title {
    font-size: 16px;
  }
  .top-three {
    gap: 10px;
  }
  .plaque {
    min-width: 200px;
    padding: 10px;
  }
  .plaque-items{
    font-size: 10px;
  }
  .card {
    min-width: 75px;
    min-height: 75px;
  }
  .card .avatar {
    min-height: 35px;
    min-width: 35px;
    top: 10px;
  }
  .card .name {
    top: 50px;
    font-size: 7px;
  }
  .card .badges {
    font-size: 10px;
    top: 60px;
  }
  .tropy img {
    height: 33px;
    top: -9px;
  }
}
@media screen and (max-width: 280px) {
  .title {
    font-size: 10px;
  }
  .top-three {
    gap: 10px;
  }
  .plaque {
    min-width: 170px;
    padding: 10px;
  }
  .plaque-items{
    font-size: 10px;
  }
  .card {
    min-width: 60px;
    min-height: 60px;
  }
  .card .avatar {
    min-height: 30px;
    min-width: 30px;
    top: 5px;
  }
  .card .name {
    top: 40px;
    font-size: 7px;
  }
  .card .badges {
    font-size: 10px;
    top: 50px;
  }
  .tropy img {
    height: 33px;
    top: -9px;
  }
  .bottom-right-curve-30{
    border-bottom-right-radius: 10px !important;
  }
   .top-left-curve-30{
     border-top-left-radius: 10px !important;
   }
}
